
#calculator{
   width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding: 0px 15px;
    border: 1px solid black;
    border-radius: 8px;

  }
  #t1{
    padding-left: 8px;
    padding-right: 5px;
    border-radius: 5px;
  }
  #t2{
    padding-left: 8px;
    padding-right: 5px;
    border-radius: 5px;
  }
  #beta{
    padding-left: 8px;
    padding-right: 5px;
    border-radius: 5px;
  }
  button{
    color: #000;
    width: 90%;
    border-radius: 5px;
    border: 1px solid black;
    background: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  }
button:hover{
    transform-origin:left;
    transform: scaleY(1.1);
  }
#result{
    font-size: 1.2rem;
    font-weight: 800;
}